/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #e9ecef; 
    color: #212529; 
}

/* Cabezera y menú principal */
header {
    background-color: #007bff; 
    color: #ffffff;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 0.5rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #0056b3;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #0069d9; 
    transform: scale(1.05); 
}

/* Contenido principal */
main {
    max-width: 800px;
    margin: 6rem auto 2rem;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #007bff; 
    font-size: 1.8rem;
    border-bottom: 3px solid #0056b3; 
    padding-bottom: 0.5rem;
}

p {
    color: #495057;
    margin-bottom: 1rem;
    line-height: 1.7;
    text-align: justify;
}

/* Estilo general de la tabla */
table {
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px 0; 
    font-family: Arial, sans-serif; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para las celdas y bordes */
td {
    padding: 12px; 
    border: 1px solid #ddd; 
}

/* Imágenes */
img {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.03);
}

/* Pie de página */
footer {
    background-color: #212529; 
    color: #f8f9fa; 
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    width: 100%;
    margin-top: 2rem;
}

footer a {
    color: #17a2b8; 
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}
